body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243, 231, 220);
    
}

.board{
    width: 700px;
    height: 700px;
    display: grid;
    border: none;
    background-color: white;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 65px;
    color: rgb(250, 164, 137);
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    padding: 1em;
    margin: 0;
    gap: 5em;
    flex-direction: column;
    justify-content: center;
}   

button {
    border-radius: 8px;
    border: none;
    padding: 27px;
    font-size: 27px;
    background-color: rgb(250, 179, 158);
    color: white;
}

.content {
    display: flex;
    justify-content: center;

}

/*Styling Slider*/
.toggle {
    display: flex;
    justify-content: center;
    padding: 1em;
}   

input[type=range] {
    height: 32px;
    width: 45%;
    border-radius: 8px;
}

input[type=range] {
    height: 32px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 47%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(250, 179, 158);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid rgb(250, 179, 158);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: rgb(250, 179, 158);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: rgb(243, 231, 220);
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: rgb(243, 231, 220);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #B6B6B6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #B6B6B6;
  }
